# Environnement
.env
*.env.local
*.env.production

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
.venv/
venv/

# Django
Backend/staticfiles/
Backend/db.sqlite3

# Node
node_modules/
Frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Claude
.claude/

.vercel
.env*
